*{
font-family: 'Pacifico', cursive;
}

body{
  background-image: url('./img/fggqevw-hd-guitar-wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */
margin: auto ;
padding: 0;
color: white;
}
.page-footer{
  margin-top: 20%;
}
