<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav><br>
    <div class="container align-items-center">
      <div>
        <h1 class="blue-text">Welcome please Log in !!</h1>
      </div><br><br>

      <form action="/sessions" method="POST">
        <label for="name">User Name:</label>
        <input type="text" name="username" required/>
        <label for="color">Password:</label>
        <input type="password" name="password" />
        <br><br><br>
        <input class="btn btn-primary"type="submit" value="Submit">
      <form><br/><br>
        <h5 style="color:red;">not registered yet? Please <a href="/users/new">Sign Up!!</a> </h5>
    </div>
    <footer>
      <%- include('../partials/footer.ejs')%>
    </footer>
  </body>

  </html>
