<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include('../partials/nav.ejs')%>
    </nav><br>
    <div class="container">
      <div>
        <h1>Welcome please create an account.</h1>
      </div><br><br>
      <form action="/users" method="POST">
        <label for="name">User Name:</label>
        <input type="text" name="username" required: true/>
        <label for="color">Password:</label>
        <input type="password" name="password" />
        <br><br><br>
        <input class="btn btn-primary"type="submit" value="Submit">
      <form>
    </div>
    </body>
</html>
